<a href="https://colab.research.google.com/github/hamzamukhi/Python-Practice/blob/main/Basic_Python_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [2]:
x = 2215

In [3]:
print(x)

2215

In [4]:
y = 2021

In [5]:
print(y)

2021

#**Variables**

In [6]:
a = 12 #single comment #ctrl/
b = 12.3
c = True
d = 'Hamza'
d2 = "Aziz"

In [7]:
print(a,b,c,d)

12 12.3 True Hamza

In [8]:
print("fa17", end="bscs")
print("0059", end="@")
print("maju",end=".edu.pk")

fa17bscs0059@maju.edu.pk

In [9]:
print(type(c))

<class 'bool'>

#**Arithmetic Operators**

In [10]:
a1 = a * 2
print(a1)

24

In [11]:
a = 11
b = 3
a2 = a // b
print(a2)

3

In [12]:
a3 = a % b
print(a3)

2

In [13]:
p = 2 ** 3
print(p)

8

In [14]:
a = 1
b = 2

b,a = a,b

print(a)
print(b)

2
1

#**Logical Operators**

In [15]:
a = 12 
b = 10
c = a > b
print(c)
print(type(c))

# > < == ! and (&&) or (||)

True
<class 'bool'>

I want to print "Hamza" if 'a' is greater than 'b'; otherwise "Aziz"

In [16]:
a = 10
b = 19

if a > b:
    print("Hamza")
else:
    print("Aziz")

Aziz

I need to print "Hamza" if a is greater than b; if a equals b then print "AH"; otherwise "Aziz"

In [17]:
a = 12
b = 19

if a > b:
    print("Hamza")
elif a == b:
    print("AH")
else:
    print("Aziz")

Aziz

print valid if a > b and b > c; otherwise invalid

In [18]:
a = 10
b = 15
c = 20

if a > b and b > c:
    print(True)
else:
    print(False)

False

In [19]:
if a > b > c:
    print(True)
else:
    print(False)

False

print true if a > 80 and b < 80; otherwise False

In [20]:
if a > 80 and b < 80:
    print(True)
else:
    print(False)

False

In [21]:
if a > 80 < b:
    print(True)
else:
    print(False)

False

There are 2 variables a and b, a = 20, b = 30, Pirnt "Yes" if a < b. Print "a is even" if a < b and a is even. No alternate case.

In [22]:
a = 19
b = 30

if a < b:
    print("Yes, a < b")
    if a % 2 == 0:
        print("a is even")

Yes, a < b

In [23]:
nat = 'PK'
edu = 18
age = 25
isMale = True

How do we get input in Python

In [24]:
nat = input("Enter the nationality: ").upper()
edu = int(input("Enter eduation (in number of years) :"))
age = int(input("Eneter age (in numbers): "))
isMale = bool(input("Enter True if male otherwise False"))

Enter the nationality: pk
Enter eduation (in number of years) :15
Eneter age (in numbers): 25
Enter True if male otherwise FalseTrue

In [25]:
# type(nat)
print(nat, type(nat))
print(edu, type(edu))
print(isMale, type(isMale))

PK <class 'str'>
15 <class 'int'>
True <class 'bool'>

#**Task**

In [35]:
if nat == 'PK' or nat == 'AJK':
    if isMale:
        if edu == 12:
            if 18 <= age <= 20: # age >= 18 and age <= 20
                print("Yes")
        elif edu == 14:
            if 20 <= age <= 24: # age >= 20 and age <= 24
                print("Yes")
        elif edu == 16:
            if 22 <= age <= 24 : # age >= 22 and age <= 24
                print("Yes")
        else:
            print("No")
    else:
        if edu == 12:
            if 18 <= age <= 20:
                print("Yes")
        elif edu == 14:
            if 20 <= age <= 22:
                print("Yes")
        else:
            print("No")
else:
    print("No")

No

#**Loop**

programming - for (int i = 0; i< 10.....) - foreach - while - do while

Python: - for (for each) - while

In [27]:
colors = ['red', 'blue', 'green', 'black']
#colors = []
print(colors)
print(type(colors))

['red', 'blue', 'green', 'black']
<class 'list'>

In [28]:
for i in colors:
    print(i)
    print(i.upper())

print("the end")

red
RED
blue
BLUE
green
GREEN
black
BLACK
the end

In [29]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
a = 10
b = 20

while a < b:
    print("I am in")
    a = a + 1

I am in
I am in
I am in
I am in
I am in
I am in
I am in
I am in
I am in
I am in

In [32]:
print(a)

20

In [33]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [34]:
# reversing
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2