

*    Functions(Definition) and Lambda Functions
*   List(Data Structure)

#Return the sentence by converting it into the uppercase

In [ ]:
def to_upper(sent):
    if type(sent) == str: #Python 3.x or 2.7.6 ...
        return sent.upper()

In [ ]:
text = 'Hi, I am Hamza. And I am doing good.'
print(type(text))

u_text = to_upper(text)
print(u_text)

<class 'str'>
HI, I AM HAMZA. AND I AM DOING GOOD.

# Count the number of vowels in the given sentence.

In [ ]:
def count_vowels(sent):
    count = 0
    if type(sent) == str:
        for i in sent:
            if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
                count += 1
    return count

In [ ]:
count_vowels('Hi, I am Hamza Aziz. And I am doing good.')

10

In [ ]:
s = 'text'
print(s.upper())
s = s.upper()
print(s)
print(s)

TEXT
TEXT
TEXT

# Write a definition to count the number of words in the sentence.

In [ ]:
def count_words(sent):
    print(sent)
    count = 0
    if type(sent) == str:
        for i in sent:
            if i == ' ' or i == ',' or i == '.' or i == '?':
                count += 1
        count += 1
    return count

In [ ]:
print(count_words('Hi, I am Hamza Aziz. And I am doing good.'))
a = count_words('I don\'t know') #escaping special characters

Hi, I am Hamza Aziz. And I am doing good.
13
I don't know

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda arguments : expression

In [ ]:
#Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [ ]:
#Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
#Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

# `in` keyword

In [ ]:
name = 'Applied Programming BE'

if 'BE' in name:
    print("yes")
else:
    print("no")

yes

# ternary operator

In [ ]:
colors = ['red', 'yellow', 'green', 'black', 'white']
print('yes' if 'purple' in colors else 'no')

no

# Define a function which confirms a substring is presnet in a given string or not?

In [ ]:
def has_substring(string,sub_string):
    return True if sub_string in string else False

In [ ]:
print(has_substring('Applied Programming', 'ied'))
print(has_substring('Programming', 'Applied'))

True
False

# Take three inputs from the user:
 - number (of which you have to print the table)
 - starting point
 - ending point

# Write a definition that prints the table of given number from starting point to the end

In [ ]:
n = int(input("Enter any number: "))
s = int(input("Enter the starting point: "))
e = int(input("Enter the ending point: "))

Enter any number: 25
Enter the starting point: 1
Enter the ending point: 25

In [ ]:
def print_table(number = 1, start = 1, end = 10):
    for i in range(start, end+1):
        print(number, " * ", i, " = ", (number*i))

In [ ]:
print_table(n, s, e)

25  *  1  =  25
25  *  2  =  50
25  *  3  =  75
25  *  4  =  100
25  *  5  =  125
25  *  6  =  150
25  *  7  =  175
25  *  8  =  200
25  *  9  =  225
25  *  10  =  250
25  *  11  =  275
25  *  12  =  300
25  *  13  =  325
25  *  14  =  350
25  *  15  =  375
25  *  16  =  400
25  *  17  =  425
25  *  18  =  450
25  *  19  =  475
25  *  20  =  500
25  *  21  =  525
25  *  22  =  550
25  *  23  =  575
25  *  24  =  600
25  *  25  =  625

In [ ]:
print_table( )

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10

In [ ]:
print_table(3)

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

In [ ]:
print_table(end=18, number=2, start=5)

2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
2  *  13  =  26
2  *  14  =  28
2  *  15  =  30
2  *  16  =  32
2  *  17  =  34
2  *  18  =  36

# LIST
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
#Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.
List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
#Example Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

Length:
len()
To determine how many items a list has, use the len() function:
Type:
type()
From Python's perspective, lists are defined as objects with the data type 'list':

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered and changeable. No duplicate members.
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [ ]:
number = [ ]
print(number)
print(type(number))
print(len(number))

[]
<class 'list'>
0

In [ ]:
number = [1,2,4,-3,5,4,6,8,9,0,-3, "one", "khan", 23.5]
print(len(number))

14

In [ ]:
for i in number:
    print(i)

1
2
4
-3
5
4
6
8
9
0
-3
one
khan
23.5

In [ ]:
print(number)

[1, 2, 4, -3, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5]

# append, insert, remove

In [ ]:
number.append(90.3)

In [ ]:
print(number)

[1, 2, 4, -3, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

In [ ]:
number.insert(2,89)

In [ ]:
print(number)

[1, 2, 89, 4, -3, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

In [ ]:
number.remove(-3)

In [ ]:
print(number)

[1, 2, 89, 4, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

In [ ]:
number.insert(0, 23)

In [ ]:
print(number)

[23, 23, 1, 2, 89, 4, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

# Accessing items in the list

In [ ]:
print(number[0])

23

In [ ]:
print(number[3])

2

In [ ]:
print(number[-1]) # negative indexing

90.3

# Sub-Listing

print(number[1 : 7]) # sub-listing

In [ ]:
print(number[6 :]) # sub-listing without mentioning end

[5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

In [ ]:
print(number[ : 5])

[23, 23, 1, 2, 89]

In [ ]:
print(number[ : ])

[23, 23, 1, 2, 89, 4, 5, 4, 6, 8, 9, 0, -3, 'one', 'khan', 23.5, 90.3]

In [ ]:
print(number[-5 : -2])
listb = number[-5 : -2]
print(listb)

[-3, 'one', 'khan']
[-3, 'one', 'khan']

# Write a definition which takes a list of values in parameter, and retrun a sublist consisting of only numbers.

In [ ]:
data = [2,3,4,6,7,"a","2","@34",23.4,343.2,38.6]

print(type(2))
print(type(3.4))

<class 'int'>
<class 'float'>

In [ ]:
def filter_numbers(data):
    numbers = list()
    for i in data:
        if type(i) == int or type(i) == float:
            numbers.append(i)
    return numbers

In [ ]:
result = filter_numbers(data)
print(result)

[2, 3, 4, 6, 7, 23.4, 343.2, 38.6]